body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

#woodwork {
    font-family: 'ADLaM Display', cursive;
    color: #5C4033;
    text-transform: uppercase;
}

#footer-logo {
    font-family: 'ADLaM Display', cursive;
    color: #5c4033;
    text-transform: uppercase;
}

.active {
    font-weight: 500;
}

.intro {
    background-color: #6e584e15;
    color: black;
    font-weight: 600;
}

p {
  font-size: medium;
}


.img-container {
    position: relative;
    }

td.accepted {
    background-color: #90EE90;
}