{% extends "base.html" %} 
{% block content %} 
{% load crispy_forms_tags %} 

{% if user.is_superuser %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  {{ form | crispy }}
  <input type="submit" value="Save" />
<a href="{% url 'manage' %}"><button>Cancel</button></a>
</form>

{% else %}
<div class="mt-5 text-center">
  <h3>Only Admin can add Projects</h3>

  <a href="{% url 'home' %}">
    <button type="button" class="btn btn-success btn-lg">Return Home</button>
  </a>
</div>
{% endif %} 
{% endblock %}
