{% extends "base.html" %} 
{% block content %} 
{% load crispy_forms_tags %} 
{% if user.is_authenticated %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  {{ form | crispy }}
  <input type="submit" value="Save" />
<a href="{% url 'rev_bk' %}" type="button">Cancel</a>
</form>

{% else %}
<div class="mt-5 text-center">
  <h3>You need to login or signup</h3>

  <a href="{% url 'account_login' %}" type="button" class="btn btn-success btn-lg">Go to Login
  </a>
  <a href="{% url 'account_signup' %}" type="button" class="btn btn-success btn-lg">Go to Signup
  </a>
</div>
{% endif %} 
{% endblock %}
