{% extends "base.html" %} 
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center intro">
        <div class="col-10 mt-3 mb-2">
        <p>Welcome to Hassam Woodworking, a website where you can discover the art and craft of woodworking. My name is Umar and I
        am a woodworker based in Birmingham, UK. My uncle and brother are my inspiration and large contributors.</p>

        <p>On this website, you can see some of our projects that showcase our skills and style. You can also submit and manage
        requests for a booking if you are interested in hiring us for your woodworking needs. Whether you want a custom-made
        table, a bookshelf, a cutting board, or anything else made of wood, we can help you turn your vision into reality.</p>

        <p>If you have any questions or comments, please feel free to contact us by signing up above and booking a consultation. 
            Alternatively contact details are at the bottom of the page. We would love to hear from you and discuss your woodworking ideas. 
            Thank you for visiting Hassam Woodworking and we hope you enjoy browsing through our website. </p>
    </div>
    </div>
</div>
<div class="container-fluid">
<div class="col-12 mt-3 left">
    <div class="row">
        <h4>Some of our work:</h4>
        {% for proj in projects %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">

                        <img class="card-img-top img-small" src=" {{ proj.image.url }}" alt="picture of {{ proj.project_name }} project">

                    </div>

                    <h5 class="card-title">{{ proj.project_name | title }}</h5>
                    <p>{{ proj.description | safe }}</p>

                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
    </div>
</div>



{% endblock %}
