{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %}
<div>
    <a href="{% url 'create' %}">
        <button type="button" class="btn btn-success">Add New Project</button>
    </a>
</div>
<div class="col-12 mt-3 left">
    <div class="row">
        {% for proj in projects %}
        <div class="col-md-4">
            <div class="card mb-4">
                
                <div class="card-header">
                    <a href="{% url 'edit' proj.pk %}">
                        <button>Edit</button>
                    </a>
                </div>

                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in proj.image.url %}
                        <img class="card-img-top"
                            src="http://drive.google.com/uc?export=view&id=1_CCbW7i4pQR77Io7ufEZTuqO-0VPBx8O">
                        {% else %}
                        <img class="card-img-top img-small" src=" {{ proj.image.url }}">
                        {% endif %}

                    </div>

                    <h2 class="card-title">{{ proj.project_name }}</h2>
                    <h6>Is Publically Visible?: {{ proj.public_visible }}</h6>
                    <p>{{ proj.description | safe | truncatechars:100 }}</p>

                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
</div>
{% else %}

<div class="mt-5 text-center">
    <h3>Sorry!! This Page Is Restricted</h3>

    <a href="{% url 'example_projects' %}">
        <button type="button" class="btn btn-success btn-lg">Return Home</button>
    </a>
</div>
{% endif %}
{% endblock %}